<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <script src="https://kit.fontawesome.com/8ff5b31e3f.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <a href="#"><img src="css/img/logo.png" class="logo" alt=""/></a>

        <ul id="navbar">
            <li><a href="#" class="category"><i class="fa-solid fa-bars"></i>Category</a></li>

            <li><a href="#" class="product"><i class="fa-solid fa-sort-down"></i>Games</a></li>

            <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>

            <% if (loggedIn) { %>
                <!-- <li><a href="/logout">LOOUT</a></li> -->
                <li><a class="reg button" href="/logout" style="color: rgb(255, 255, 255);">LOGOUT</a></li>
                <% } %>
        
                <% if (!loggedIn) { %>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a class="reg button" href="/register" style="color: white;">REGISTER</a></li>
                    <!-- <li><button class="reg"> <a href="/register">REGISTER</a></button></li> -->
                    
                    
                <% } %>

                <!-- <li><a href="/login">LOGIN</a></li> -->
            <!-- <li><button class="reg" a href="/register">SIGN UP</button></li> -->

        </ul>

    </header>
</body>
</html>