body {
    margin: 0;
    background-color: rgb(221, 216, 216);
}

section{
    height: auto;
}


footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

footer div{
    flex-direction: column;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    margin: auto;
}

footer div ul{
    display: flex;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.list-of-order-box{
    display: flex;
    height: 100%;
    padding:2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-of-order-info{
    padding-top: 5vh;
    width: 70%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.product-order{
    width: 100%;
    height: 15vh;
    margin-bottom: 5vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-order *{
    padding-left: 1vw;
}

.product-order img{
    height: 90%;
    width: 40%;
    object-fit: contain;
}
