
body {
    margin: 0;
    background-color: rgb(221, 216, 216);
}


.navbar-space{
    height: 10vh;
}

section{
    height: auto;
}

.search-component{
    margin:0 auto;
    height: 100%;
    max-width: 90%;
    padding: 2vh 0 2vh;
}


.search-block{
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    height: auto;
    padding: 1vh 2vh 2vh;
    border: 5px solid black;
}

.search{
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2vh;
    background-color: rgb(235, 235, 235);
    text-decoration: none;
    color: black;
}

.nextpg-prevpg-btn{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1vh 0 1vh;
}

.nextpg-prevpg-btn button{
    font-size: 1.5vw;
    color: rgb(88, 86, 86);
    background-color: aqua;
    cursor: pointer;
    border: 0;
    width: auto;
    padding: 10px 0;
    border-radius: 15px;
}



footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

footer div{
    flex-direction: column;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    margin: auto;
}

footer div ul{
    display: flex;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}



.search-block .search img{
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.queries-box{
    display: flex;
    margin:0 auto;
    height: 100%;
    max-width: 90%;
    padding: 2vh 0 2vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.queries-box form{
    display: flex;
    justify-content: center;
}

.game-name-box{
    display: flex;
    padding: 3vw;
}

.game-genre-box{
    display: flex;
    padding: 3vw;
}


form label{
    padding: 0vh 2vw 0vh 2vw;
}

form button{
    display: flex;
    padding: 3vw;
    height: 10%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}