body {
    margin: 0;
    background-color: rgb(221, 216, 216);
}

section{
    height: auto;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

footer div{
    flex-direction: column;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    margin: auto;
}

footer div ul{
    display: flex;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.profile-flex{
    display: flex;
    width: 100%;
    height: 100vh;
    padding:2%;
}

.option-flex{
    display: flex;
    padding: 5%;
    width: 30%;
    height: auto;
    box-sizing: unset;
}

.display-flex{
    display: flex;
    padding: 5%;
    width: 50%;
    height: 100%;
    box-sizing: unset;
    flex-direction: column;
    text-align: center;
}

.option-box{
    width: 100%;
    height: 55vh; /*Temporary Height*/
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.display-box{
    width: 100%;
    height: auto; /*Temporary Height*/
}

.userinfo{
    width: 100%;
    display: flex;
    height: 15vh;
}

.prof-pic{
    width: 45%;
    height: 100%;
    object-fit: fill;
    justify-content: center;
    align-items: center;
    display: flex;
}

.prof-pic img{
    max-width: 70%;
    max-height: 70%;
    object-fit: fill;
    border-radius: 180px;
}

.option-box a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 175);
}

.email-box{
    width: 55%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.email-box h2{
    padding: 1vh 0vw;
    font-size: 1vw;
    width: fit-content;
    height: auto;
    word-wrap: break-word;
}

.display-box h1{
    padding-bottom: 5vh;
    font-size: 2vw;
}

.change-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.change-box label{
    font-size: 1.5vw;
    font-weight: bold;
    padding: 2vh 0vw 5vh 2vw;
}

form .change-box input{
    width: 75%;
    margin: 0vh 0vw 0vh 5vw;
    height: 5vh;
    font-size: 1vw;
}

.submit-button-holder{
    margin: 3vh 0vw 0vh 0vw;
    display: flex;
    justify-content: center;
}

.submit-button-holder input{
    width: 25%;
    height: 5vh;
}