@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/loginbackground.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    box-shadow: cyan;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
}

.form-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.login {
    transform: translateY(-450px);
}

h2{
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.input-group{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.input-group input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.input-group i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -5px 0 15px 5px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}

.forgetpass{
    font-size: .9em;
    text-decoration: none;
    color: gray;
}



.agree{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.agree label input{
    margin-right: 3px;
    
}
.agree label a{
    color: #fff;
    text-decoration: none;
}
.agree label a:hover{
    text-decoration: underline;
}


button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.signUp-link{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.signUp-link p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.signUp-link p a:hover{
    text-decoration: underline;
    color: Red;
}

.signIn-link{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.signIn-link p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.signIn-link p a:hover{
    text-decoration: underline;
    color: lightgreen;
}
